@model IEnumerable<ZeroHunger.Models.CollectionRequestModel>

@{
    ViewBag.Title = "SeeAvlReq";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>SeeAvlReq</h2>


<table class="table">
    <tr>
        <th>
            Restaurant ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodType)
        </th>
        <th>
            Max Time (Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        
            <td>
                @if (item.Status == 0)
                {<span>Pending</span>}
                @if (item.Status == 1)
                {<span>Request Accepted</span>}
                @if (item.Status == 2)
                {<span>Completed</span>}
                @if (item.Status == 3)
                {<span>Distributed</span>}
                @if (item.Status == 4)
                {<span>Expired</span>}


            </td>
            <td>
                @Html.ActionLink("Mark Complete", "CompleteReq", new { id = item.ColId })
            </td>
        </tr>
    }

</table>


