@model IEnumerable<ZeroHunger.Models.RestaurantModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ResName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResUname)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ResName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResUname)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Rid  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Rid })
        </td>
    </tr>
}

</table>
